// Помощники
//@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
@import 'main/parameters';// переменные
//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили
//@import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
.container{
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
}
@import 'components/header.scss';
@import 'components/header-m.scss';
@import 'components/main.scss';
@import 'components/new.scss';
@import 'components/instagram.scss';
@import 'components/footer.scss';
@import 'components/about-us.scss';
@import 'components/delivery-block.scss';
@import 'components/contact-block.scss';
@import 'components/news-block.scss';
@import 'components/news2-block.scss';
@import 'components/catalog-block.scss';
@import 'components/winter-ring-block.scss';
@import 'components/purchases-block.scss';
@import 'components/liked-block.scss';

@media (max-width: 900px) {
    .footer__container{
        justify-content: space-around;
    }
}
