@import "../main/parameters";
.inst{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        font-weight: normal;
        font-size: 32px;
        line-height: 39px;
        margin-top: 10.8rem;
        margin-bottom: 2.5rem;
    }
    &__info{
        display: flex;
        min-width: 45rem;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
    &__info-item{
        display: flex;
        align-items: center;

    }
    &__info-img{
        margin-right: 1rem;
    }
    &__info span {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    &__info_text{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    &__galery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 5px;
    }
    &__btn{
        width: 24.7rem;
        height: 5rem;
        background: #009BF2;
        border-radius: 10rem;
        padding: 1.3rem 5rem;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-top: 4.7rem;
        margin-bottom: 11.4rem;
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            background: linear-gradient(80.45deg, #FED576 -10.24%, #F47133 20.36%, #BC3081 60.53%, #4C63D2 105.94%);
            border-radius: 10rem; 
            opacity: 0;  
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity .5s ease;
        }
        &:hover{
            &::before{
                opacity: 1;
            }
        }   
    }
}
.btn__img{
    margin-right: 1rem;
    position: relative;
}
.btn__text{
    position: relative;
}