.about-us 
    .container.about-us__container 
        .about-us__top 
            .about-us__breadcrumb 
                img(src="assets/imgs/diamond.svg", alt="")
                .breadcrumb__text О компании
            .about-us__title О компании
            .about-us__rect
        .about-us__bottom
            .about-us__text 
                p Компания <span>DEMETRA-SAPPHIRE JEWELRY</span> появилась на российском ювелирном рынке в 2007 году. В начале своего пути мы специализировались на организации и расширении поставок эксклюзивных сапфиров из Шри-Ланки в Россию. Позже компания запустила собственное производство по созданию ювелирных изделий с драгоценными камнями. 
                br
                p В 2015 году было открыто представительство <span>DEMETRA-SAPPHIRE JEWELRY</span> в деловом центре JLT свободной экономической зоны Дубайской многопрофильной товарно-сырьевой биржи (DMCC) в Объединенных Арабских Эмиратах. Сегодня здесь представлена уникальная коллекция наших лучших сапфиров.
                br
                p Создавать украшения – значит дарить красоту и любовь тем, кто станет их обладателями. Мы целиком отдаемся творческому процессу, прилагаем максимум усилий, ведь только так можно достичь главной цели – претворить мечты в реальность.
                br
                p <span>Украшения DEMETRA-SAPPHIRE JEWELRY актуальны всегда, они — вне времени!<span>
            .about-us__img
                img(src="assets/imgs/about.jpg", alt="")