.contact 
    .container.contact__container 
        .contact__top 
            .contact__breadcrumb 
                img(src="assets/imgs/diamond.svg", alt="")
                .breadcrumb__text Контакты
            .contact__title Контакты
            .contact__rect
        .contact__bottom
            .contact__text 
                p.contact__name <span>АО «ДЕМЕТРА-САПФАЕРР»
                p <span>Россия, 111020 
                p <span>Москва, 2-я Синичкина ул., 9А, стр. 7БЦ «Синица Плаза»</span>  
                br
                p.contact__connect Связаться с нами
                .contact__links
                    a(href="").contact__link 
                        img(src="assets/imgs/phone.svg", alt="")
                        .contact__num +7 499 472 60 84
                    a(href="").contact__link                        
                        img(src="assets/imgs/whatsapp.svg", alt="")
                        .contact__num +7 499 391 45 79 
                    a(href="").contact__link                         
                        img(src="assets/imgs/instagram.svg", alt="")
                        .contact__text-link @demetra_sapphire_jewelry
                    a(href="").contact__link                         
                        img(src="assets/imgs/mail.svg", alt="")
                        .contact__text-link Написать нам
            .contact__img
                img(src="assets/imgs/map_marker.svg", alt="")