.delivery 
    .container.delivery__container 
        .delivery__top 
            .delivery__breadcrumb 
                img(src="assets/imgs/diamond.svg", alt="")
                .breadcrumb__text Оплата и доставка
            .delivery__title Оплата и доставка
            .delivery__rect
        .delivery__bottom
            .delivery__text 
                p <span>При оформлении заказа на сайте с вами свяжется менеджер онлайн-магазина.</span>
                img(src="assets/imgs/sdek.svg", alt="").delivery__img
                p Доставка по всей территории России включая МО осуществляется курьерской службой СДЭК.
                br
                p Сроки доставки зависят от вашего региона. От 2 до 10 дней.
                br
                p При оформлении заказа менеджер магазина проконсультирует Вас по срокам и условиям доставки.
                