footer.footer 
    .container.footer__container 
        .footer__left
            .footer__left-top
                a(href="index.html").footer__logo 
                    img(src="assets/imgs/f_logo.svg", alt="")
                .footer__left-nav
                    a(href="about-us.html").footer__left-nav--item О компании
                    a(href="#").footer__left-nav--item Ювелирный каталог
                    a(href="delivery.html").footer__left-nav--item Доставка и оплата
                    a(href="news.html").footer__left-nav--item Новости
                    a(href="contact.html").footer__left-nav--item Контакты
            .footer__left-bottom © 2021 ДЕМЕТРА-САПФАЕРР
        .footer__center
            .footer__center-col 
                a(href="#").footer__center-item Кольца
                a(href="#").footer__center-item Серьги
                a(href="#").footer__center-item Подвески
            .footer__center-col 
                a(href="#").footer__center-item Золото
                a(href="#").footer__center-item Серебро
                a(href="#").footer__center-item Бриллианты
                a(href="#").footer__center-item Коллекции
                a(href="#").footer__center-item Подарки
            .footer__center-col 
                a(href="#").footer__center-item Камни
        .footer__right 
            .footer__right-title Контакты
            .footer__right-address г. Москва, БЦ «Синица Плаза» 2-я ул. Синичкина, 9 а, стр. 7 тел.: +7 499 372-60-84
            a(href="tel%88121234567") 
                .footer__right-link 
                    img(src="assets/imgs/f_whatsapp.svg", alt="")
                    .footer__right-text +7 499 391 45 79
            a(href="https://www.instagram.com/demetra_sapphire_jewelry/" target="blank") 
                .footer__right-link 
                    img(src="assets/imgs/f_instagram.svg", alt="")
                    .footer__right-text Инстаграм
            a(href="#").footer__right-contact-us Написать нам
                 
                

        