header.header-m
    .container.header-m__container 
        .header-m__logo
            a(href="index.html").logo
                img(src="assets/imgs/logo-m.svg", alt="jewelry") 
        nav.header-m__nav 
                ul.header-m__nav-list
                    li.header-m__nav-item 
                        a(href="about-us.html").header-m__nav-link О компании
                    li.header-m__nav-item 
                        a(href="catalog.html").header-m__nav-link Каталог
                    li.header-m__nav-item 
                        a(href="delivery.html").header-m__nav-link Доставка
                    li.header-m__nav-item 
                        a(href="news.html").header-m__nav-link Новости
                    li.header-m__nav-item
                        a(href="contact.html").header-m__nav-link Контакты
        .header-m__burger 
            .header-m__burger-top 
            .header-m__burger-center 
            .header-m__burger-bottom
        .header-m__icons
            a(href="liked.html").header-m__ico-link
                img(src="assets/imgs/like-m.svg", alt="like")
                .header-m__ico-link-h
                    img(src="assets/imgs/like.svg", alt="like")
            a(href="#").header-m__ico-link
                img(src="assets/imgs/search-m.svg", alt="search")
                .header-m__ico-link-h
                    img(src="assets/imgs/search.svg", alt="search")
            a(href="purchases.html").header-m__ico-link
                img(src="assets/imgs/cart-m.svg", alt="cart")
                .header-m__ico-link-h 
                    img(src="assets/imgs/cart.svg", alt="cart")