header.header
    .container.header__container 
        .header__logo
            a(href="index.html").logo
                img(src="assets/imgs/logo.svg", alt="jewelry") 
        nav.header__nav 
                ul.nav__list
                    li.nav__item 
                        a(href="about-us.html").nav__link.about О компании
                    li.nav__item 
                        a(href="#").nav__link Каталог
                    li.nav__item 
                        a(href="delivery.html").nav__link Доставка
                    li.nav__item 
                        a(href="news.html").nav__link Новости
                    li.nav__item 
                        a(href="contact.html").nav__link Контакты
        .header__icons
            a(href="#").header__ico-link
                img(src="assets/imgs/like.svg", alt="like") 
            a(href="#").header__ico-link
                img(src="assets/imgs/search.svg", alt="search") 
            a(href="#").header__ico-link
                img(src="assets/imgs/cart.svg", alt="cart") 