.inst 
    .container.inst__container 
        .inst__title Мы в Instagram
        .inst__info 
            .inst__info-item
                img(src="assets/imgs/posts.svg", alt="posts").inst__info-img 
                .inst__info_text <span>24</span> post
            .inst__info-item
                img(src="assets/imgs/folowers.svg", alt="posts").inst__info-img 
                .inst__info_text <span>1,520</span> followers
            .inst__info-item
                img(src="assets/imgs/likes.svg", alt="posts").inst__info-img 
                .inst__info_text <span>66</span> following
        .inst__galery 
            img(.inst__foto src="assets/imgs/inst1.jpg", alt="")
            img(.inst__foto src="assets/imgs/inst2.jpg", alt="")
            img(.inst__foto src="assets/imgs/inst3.jpg", alt="")
            img(.inst__foto src="assets/imgs/inst4.jpg", alt="")
            img(.inst__foto src="assets/imgs/inst5.jpg", alt="")
            img(.inst__foto src="assets/imgs/inst6.jpg", alt="")
        a(href="https://www.instagram.com/demetra_sapphire_jewelry/" target="blank").inst__btn
            img( src="assets/imgs/insta-logo.svg", alt="").btn__img
            .btn__text Подписаться
           
    