.main 
    h1.main__title DEMETRA SAPPHIRE Jewelry
    h4.main__subtitle since 2007
    a(href="#new").main__link
        .main__text Лучшие ювелирные украшения
        .main__img
            img(src="assets/imgs/vector.svg", alt="rect")