.catalog 
    .container.catalog__container 
        .catalog__top 
            .catalog__breadcrumb 
                img(src="assets/imgs/diamond.svg", alt="")
                .breadcrumb__text Ювелирные украшения  /  Корзина
            .catalog__title Корзина