.registration 
    .reg__window-entry
        .reg__title Необходимо войти!
        .reg__block
            button.reg__entry Вход 
            button.reg__registration Регистрация
        form(id="form" class="reg__form" action="")
            .reg__email Введите email
            input(class="reg__email-input" type="email" placeholder="example@email.com" required)
            .reg__pass Введите пароль
            input(class="reg__pass-input" type="password" placeholder="" required)
            .reg__pass-err * Введен неверный пароль или профиль для данного e-mail не существует
            .reg__btn
                button.reg__btn_entry В о й т и


    .reg__window-reg
        .reg__block
            button.reg__entry-reg Вход 
            button.reg__registration-reg Регистрация
        form(id="form" class="reg__form-reg" action="")
            .reg__email-reg Введите email
            <input class="reg__email-input-reg" type="email" placeholder="example@email.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="e-mail указан не верно" required/>
            .reg__tel-reg Введите телефон
            <input class="reg__tel-input-reg" type="tel" placeholder="+375 (* *) * * * * * * *" pattern="\+37529[0-9]{7}|\+37525[0-9]{7}|\+37533[0-9]{7}|\+37544[0-9]{7}|" title="Введите номер в формате +375 (* *) * * * * * * *" required />
            .reg__pass-reg Введите пароль
            input(class="reg__pass-input-reg" type="password" placeholder="" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]{1,}).{8,}" title="Должно содержать по крайней мере одно число, одну заглавную и строчную буквы, а также не менее 8 и более символов" required)
            .reg__pass-reg Повторите пароль
            input(class="reg__pass-input-reg pass" type="password" placeholder="" required)
            .reg__err  * Пароли не совпадают
            .reg__btn-reg
                button.reg__btn_entry-reg Создать профиль